@font-face {
    font-family: light;
    src: url(Fonts/MyriadPro-Light.woff);
}

/*.container {
    width: 100%;
    height: 5883px;
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 174px;
    background-color: #346bcc;
    z-index: 1;
}

#col {
    position: absolute;
    left: 35%;
    width:20%;
    height: 40%;
}

.menu > p {
    color: white;
    font-family: light;
    font-size: 150%;
}

.borde {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    width: 15%;
    height: 60px;
}

.borde {
    justify-content: center;
    color: black;
    font-family: light;
    font-size: 150%;
}*/

@media only screen and (min-width: 430px) { 

    .container {
        width: 100%;
        height: 5883px;
    }

    .menu {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 6%;
        background-color: #346bcc;
        z-index: 1;
    }

    #col {
        width:20%;
        height: 40%;
    }
    
    .menu > p {
        color: white;
        font-family: light;
        font-size: 50%;
    }

    #letra {
        justify-content: center;
        color: black;
        font-family: light;
        font-size: 50%;
        z-index: 1;
    }
    
    .borde {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        align-items: center;
        border-radius: 50px;
        background-color: #fff;
        left: 85%;
        width: 12%;
        height: 25%;
        
    }
    
}