@font-face {
    font-family: mlight;
    src: url(Fonts/MyriadPro-Light.woff);
}

@font-face {
    font-family: regular;
    src: url(Fonts/MYRIADPRO-REGULAR.woff);
}

@font-face {
    font-family: mbold;
    src: url(Fonts/MYRIADPRO-BOLD.woff);
}

@font-face {
    font-family: msemibold;
    src: url(Fonts/MYRIADPRO-SEMIBOLD.woff);
}

@media (max-width: 1920px) and (min-width: 432px)  {

    .container {
        position: absolute;
        width: 99vw;
        height: 329vw;
        left: 0%;
        top: 0%;
        overflow: hidden;
    }

    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 0vw;
        left: 0vw;
        width: 99vw;
        height: 10vw;
        background-color: #346bcc;
        z-index: 1;
    }

    #col {
        width: 20vw;
        height: 5vw;
    }

    .menu > p {
        color: white;
        font-family: mlight;
        font-size: 2vw;   
    }

    #link1 {
        text-decoration: none;
        font-family: mlight;
        font-size: 2vw;
        color: #fff;
    }

    #link2 {
        text-decoration: none;
        font-family: mlight;
        font-size: 2vw;
        color: #fff;
    }

    #link3 {
        text-decoration: none;
        font-family: mlight;
        font-size: 2vw;
        color: #fff;
    }

    #letra {
        justify-content: center;
        color: black;
        font-family: mlight;
        font-size: 2vw;
        z-index: 1;
    }

    .borde {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        align-items: center;
        border-radius: 50px;
        background-color: #fff;
        left: 83%;
        width: 15vw;
        height: 5vw;
    }

    #fondo {
        position: absolute;
        top: 10vw;
        left: 0%;
        width: 100vw;
        height: auto;   
    }

    #ingreso {
        position: absolute;
        top: 24vw;
        left: 58vw;
        color: black;
        font-size: 4vw;
        font-family: mlight;
    }

    #description {
        position: absolute;
        top: 33vw;
        left: 54vw;
        color: black;
        font-size: 1.5vw;
        font-family: mlight;
        text-align: center;
    }

    .borde2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45vw;
        left: 66.5vw;
        border-radius: 15vw;
        background-color: #157ffb;
        width: 10vw;
        height: 2.5vw;
    }

    #letra2 {
        font-family: mlight;
        color: white;
        font-size: 1vw;
        margin-top: 1vw;
    }


    .formulario {
        position: absolute;
        top: 13vw;
        left: 6vw;
        background-color: white;
        border-radius: 10px;
        width: 33vw;
        height: 45vw;
    }

    #tittle {
        font-family: msemibold;
        text-align: center;
        font-size: 2vw;
        margin-top: 10%;
    }

    #datos {
        font-family: mlight;
        text-align: center;
        font-size: 1vw;
        margin-top: -4%;
    }

    .datos {
        display: flex;
        justify-content: center;
        font-family: msemibold;
    }

    #typedocument {
        position: absolute;
        top: 35%;
        width: 26vw;
        height: 2vw;
    }

    #numberdocument {
        position: absolute;
        top: 44%;
        width: 26vw;
        height: 2vw;
    }

    #firstname {
        position: absolute;
        top: 53%;
        width: 26vw;
        height: 2vw;
    }

    #lastname {
        position: absolute;
        top: 62%;
        width: 26vw;
        height: 2vw;
    }

    #date {
        position: absolute;
        top: 71%;
        width: 26vw;
        height: 2vw;
    }

    #mobile {
        position: absolute;
        top: 80%;
        width: 26vw;
        height: 2vw;
    }

    .datos p {
        position: absolute;
        left: 10%;
        font-size: 1vw;
    }

    #td {
        position: absolute;
        top: 30%;
    }

    #nd {
        position: absolute;
        top: 39%;
    }

    #pn {
        position: absolute;
        top: 48%;
    }

    #pa {
        position: absolute;
        top: 57%;
    }

    #fe {
        position: absolute;
        top: 66%;
    }

    #tm {
        position: absolute;
        top: 75%;
    }

    .borde3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 90%;
        left: 35%;
        border-radius: 10px;
        background-color: #157ffb;
        width: 10vw;
        height: 2.5vw;
    }

    #letra3 {
        color: white;
        font-family: mlight;
        font-size: 1vw;
    }

    #page2 {
        position: absolute;
        display: flex;
        text-align: center;
    }

    #p1 {
        position: absolute;
        left: 28vw;
        top: 68vw;
        font-size: 3vw;
        font-family: mlight;
        width: 50vw;
    }

    #p2 {
        position: absolute;
        top: 75vw;
        left: 8vw;
        font-size: 2vw;
        font-family: mlight;
        width: 50vw;
    }

    #p3 {
        position: absolute;
        top: 88vw;
        left: 8vw;
        font-size: 2vw;
        font-family: mlight;
        width: 50vw;
    }

    #dolar {
        position: absolute;
        top: 72vw;
        left: 50vw;
        width: 50vw;
    }

    #etapas {
        position: absolute;
        font-family: mlight;
        font-size: 1.5vw;
        top: 110vw;
        left: 23vw;
        width: 20vw;
        color: #000;
        text-decoration: none;
    }

    #down {
        position: absolute;
        top: 113vw;
        left: 32vw;
    }

    #page3 {
        display: flex;
        justify-content: center;
    }

    .centrados {
        position: absolute;
        top: 120vw;
        left: 35vw;
        font-family: mlight;
    }

    #entrega {
        position: absolute;
        top: 2vw;
        left: 3vw;
        font-size: 3vw;
        width: 30vw;
    }

    p2 {
        position: absolute;
        font-family: regular;
        font-size: 2.7vw;
        top: 15vw;
        left: -26vw;
        width: 30vw;
    }

    p4 {
        position: absolute;
        font-family: regular;
        font-size: 2.7vw;
        top: 15vw;
        left: 1vw;
        width: 30vw;
    }

    p6 {
        position: absolute;
        font-family: regular;
        font-size: 2.7vw;
        top: 15vw;
        left: 32vw;
        width: 30vw;
    }

    p1 {
        position: absolute;
        top: 11vw;
        font-size: 2.5vw;
        left: -19vw;
        width: 30vw;
    }

    p3{
        position: absolute;
        top: 11vw;
        font-size: 2.5vw;
        left: 11vw;
        width: 30vw;
    }

    p5 {
        position: absolute;
        top: 11vw;
        font-size: 2.5vw;
        left: 42vw;
        width: 30vw;
    }

    #pp {
        position: absolute;
        top: 23vw;
        left: 2vw;
        width: 30vw;
        font-size: 3vw;
    }

    .centradoimg {
        position: absolute;
        top: 150vw;
        left: 1vw;
    }

    #img1 {
        position: absolute;
        top: -2vw;
        left: 9vw;
        width: 20vw;
    }

    #img2 {
        position: absolute;
        top: -5vw;
        left: 36vw;
        width: 25vw;
    }

    #img3 {
        position: absolute;
        left: 66vw;
        width: 25vw;
    }

    #img4 {
        position: absolute;
        top: 10vw;
        left: 32vw;
        width: 15vw;
    }

    #img5 {
        position: absolute;
        top: 5vw;
        left: 50vw;
        width: 15vw;
    }

    #pf {
        position: absolute;
        font-family: mlight;
        font-size: 1.5vw;
        top: 18vw;
        left: 42vw;
        width: 30vw;
        text-decoration: none;
        color: #000;
    }

    #down2 {
        position: absolute;
        top: 21vw;
        left: 48vw;
    }

    .page4 {
        display: flex;
        justify-content: center;
    }

    .texto {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 175vw;
    }

    p8 {
        font-family: mlight;
        font-size: 3vw;
    }

    p9, p11 {
        position: relative;
        margin-top: 5vw;
        font-family: msemibold;
        font-size: 2vw;
    }

    p10, p12, p13 {
        position: relative;
        margin-top: 2vw;
        font-family: mlight;
        font-size: 1.8vw;
    }

    #down3 {
        position: absolute;
        top: 218vw;
    }

    #circle1 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 4vw;
        height: 4vw;
        border-radius: 50px;
        top: 179vw;
        color: #fff;
        font-family: mlight;
    }

    #circle2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 4vw;
        height: 4vw;
        border-radius: 50px;
        top: 198vw;
        color: #fff;
        font-family: mlight;
    }

    .page5 {
        display: flex;
        justify-content: center;
    }

    .texto2 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 223vw;
    }

    p14, p16 {
        position: relative;
        margin-top: 5vw;
        font-family: msemibold;
        font-size: 2.2vw;
    }

    p15, p17, p18 {
        position: relative;
        margin-top: 2vw;
        font-family: mlight;
        font-size: 2vw;
    }

    #down4 {
        position: absolute;
        top: 272vw;
    }

    #circle3 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 4vw;
        height: 4vw;
        border-radius: 50px;
        top: 223vw;
        color: #fff;
        font-family: mlight;
    }

    #circle4 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 4vw;
        height: 4vw;
        border-radius: 50px;
        top: 248vw;
        color: #fff;
        font-family: mlight;
    }

    .page6 {
        display: flex;
        justify-content: center;
    }

    .texto3 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 280vw;
    }

    p19 {
        position: relative;
        font-family: msemibold;
        font-size: 2vw;
    }

    p20 {
        position: relative;
        margin-top: 2vw;
        font-family: mlight;
        font-size: 1.8vw;
    }

    #circle5 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 4vw;
        height: 4vw;
        border-radius: 50px;
        top: 276vw;
        color: #fff;
        font-family: mlight;
    }

    .borde4 {
        display: flex;
        justify-content: center;
    }

    .texto4 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 293vw;
        left: 5vw;
        background-color: #157ffb;
        border-radius: 50px;
        width: 90vw;
        height: 20vw;
    }

    p21 {
        margin-top: 3%;
        font-size: 3vw;
        font-family: mbold;
        color: #fff;
    }

    p22 {
        margin-top: 2vw;
        font-size: 2vw;
        font-family: mlight;
        color: #fff;   
    }

    #borde5 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 20px;
        font-size: 1vw;
        font-family: regular;
        top: 307vw;
        left: 45vw;
        width: 11vw;
        height: 3vw;
    }

    .menu2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 318vw;
        width: 100vw;
        height: 11vw;
        background-color: #3c67c5;
    }

    #logoc {
        position: absolute;
        top: 4vw;
        width: 20vw;
    }
    
    #location {
        position: absolute;
        top: 1vw;
        left: 20vw;
        width: 3vw;
    }
    
    #phone {
        position: absolute;
        top: 1vw;
        right: 20vw;
        width: 3vw;
    }
    
    p23 {
        position: absolute;
        font-family: mlight;
        font-size: 1vw;
        top: 5vw;
        left: 12.5vw;
        color: #fff;
    }
    
    p24 {
        position: absolute;
        font-family: mlight;
        font-size: 1vw;
        top: 5vw;
        right: 12.5vw;
        color: #fff;
    }

}

@media (max-width: 431px) { 

    .container {
        position: absolute;
        width: 99vw;
        height: 1180vw;
        left: 0vw;
        top: 0vw;
        overflow: hidden;
    }

    .menu {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0vw;
        left: 0vw;
        width: 100vw;
        height: 13vw;
        background-color: #346bcc;
        z-index: 1;
    }

    #col {
        width:20vw;
        height: 5vw;
    }

    #link1 {
        text-decoration: none;
        font-family: mlight;
        font-size: 5vw;
        color: #fff;
    }

    #link2 {
        text-decoration: none;
        font-family: mlight;
        font-size: 5vw;
        color: #fff;
    }

    #link3 {
        text-decoration: none;
        font-family: mlight;
        font-size: 5vw;
        color: #fff;
    }


    #letra {
        justify-content: center;
        color: black;
        font-family: mlight;
        font-size: 5vw;
        z-index: 1;
    }
    
    .borde {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 0.3vw solid gray;
        border-radius: 50vw;
        background-color: #fff;
        left: 78vw;
        width: 21vw;
        height: 6vw;
        bottom: 3.5vw;
    }

    .information {
        display: flex;
        justify-content: center;
    }

    #ingreso {
        position: absolute;
        margin-top: 17vw;
        color: white;
        font-size: 7vw;
        font-family: msemibold;
    }

    #description {
        margin-top: 28vw;
        color: black;
        font-size: 4vw;
        font-family: regular;
        text-align: center;
    }

    .borde2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 52vw;
        border-radius: 2vw;
        background-color: #157ffb;
        width: 30vw;
        height: 10vw;
    }

    #letra2 {
        font-family: mlight;
        color: white;
        font-size: 3.5vw;
    }

    #fondo {
        position: absolute;
        top: 12.5vw;
        left: 0vw;
        width: 100vw;
        height: auto;
    }

    .formulario {
        position: absolute;
        top: 75vw;
        left: 7vw;
        background-color: white;
        border-radius: 5vw;
        width: 87vw;
        height: 119vw;
        box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.2);
    }

    #tittle {
        font-family: msemibold;
        text-align: center;
        font-size: 5.6vw;
    }

    #datos {
        font-family: mlight;
        text-align: center;
        font-size: 3vw;
        margin-top: -4vw;
    }

    .datos {
        display: flex;
        justify-content: center;
    }

    #typedocument {
        position: absolute;
        margin-top: 7vw;
        width: 70vw;
    }

    #numberdocument {
        position: absolute;
        margin-top: 17vw;
        width: 70vw;
    }

    #firstname {
        position: absolute;
        margin-top: 27vw;
        width: 70vw;
    }

    #lastname {
        position: absolute;
        margin-top: 37vw;
        width: 70vw;
    }

    #date {
        position: absolute;
        margin-top: 47vw;
        width: 70vw;
    }

    #mobile {
        position: absolute;
        margin-top: 57vw;
        width: 70vw;
    }
    
    .datos p {
        position: absolute;
        left: 8vw;
        font-size: 3vw;
    }

    #td {
        top: 38vw;
        font-family: msemibold;
    }

    #nd {
        top: 48vw;
        font-family: msemibold;
    }

    #pn {
        top: 58vw;
        font-family: msemibold;
    }

    #pa {
        top: 68vw;
        font-family: msemibold;
    }

    #fe {
        top: 78vw;
        font-family: msemibold;
    }

    #tm {
        top: 88vw;
        font-family: msemibold;
    }

    .borde3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 105vw;
        left: 32vw;
        border-radius: 2vw;
        background-color: #157ffb;
        width: 25vw;
        height: 6vw;
    }

    #letra3 {
        color: white;
        font-family: mlight;
        font-size: 3.5vw;
    }

    #page2 p {
        display: flex;
        text-align: center;
    }

    #p1 {
        position: absolute;
        left: 11vw;
        top: 210vw;
        font-size: 7vw;
        font-family: mlight;
    }

    #p2 {
        position: absolute;
        left: 9vw;
        top: 225vw;
        font-size: 3.7vw;
        font-family: mlight;
    }

    #p3 {
        position: absolute;
        left: 5vw;
        top: 250vw;
        font-size: 3.7vw;
        font-family: mlight;
    }

    #dolar {
        position: absolute;
        top: 280vw;
        left: 10vw;
        width: 80vw;
    }

    #etapas {
        position: absolute;
        font-family: mlight;
        font-size: 3.7vw;
        top: 340vw;
        left: 28vw;
        text-decoration: none;
        color: #000;
    }

    #down {
        position: absolute;
        top: 350vw;
        left: 47vw;
        width: 6vw;
    }

    #page3 {
        display: flex;
        justify-content: center;
    }

    .centrados {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 355vw;
        font-family: mlight;
    }

    #entrega {
        position: relative;
        font-size: 7vw;
    }

    p2, p4, p6 {
        position: relative;
        font-family: regular;
        font-size: 5.5vw;
    }

    p3, p5 {
        position: relative;
        margin-top: 5vw;
    }

    p7 {
        position: relative;
        margin-top: 25vw;
        font-size: 7vw;
    }

    #pp {
        position: absolute;
        top: 75vw;
    }

    .centradoimg {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 440vw;
    }

    #img1 {
        position: absolute;
        width: 45vw;
        top: 2vw;
        left: -8vw;
    }

    #img2 {
        position: absolute;
        width: 50vw;
        top: 15vw;
        left: -9vw;
    }

    #img3 {
        position: absolute;
        width: 50vw;
        top: 40vw;
        left: -14vw;
    }

    #img4 {
        position: absolute;
        width: 30vw;
        top: 60vw;
    }

    #img5 {
        position: absolute;
        width: 30vw;
        top: 70vw;
    }

    #pf {
        font-family: mlight;
        font-size: 3.7vw;
        margin-top: 90vw;
        text-decoration: none;
        color: #000;
    }

    #down2 {
        position: absolute;
        top: 95vw;
        left: 12vw;
        width: 6vw;
    }

    .page4 {
        display: flex;
        justify-content: center;
    }

    .texto {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 490vw;
    }

    p8 {
        font-family: mlight;
        font-size: 7vw;
    }

    p9, p11 {
        position: relative;
        margin-top: 15vw;
        font-family: msemibold;
        font-size: 5vw;
    }

    p10, p12, p13 {
        position: relative;
        margin-top: 5vw;
        font-family: mlight;
        font-size: 5vw;
    }

    #circle1 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 10vw;
        height: 10vw;
        border-radius: 50vw;
        top: 555vw;
        color: #fff;
        font-family: mlight;
    }

    #circle2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 10vw;
        height: 10vw;
        border-radius: 50vw;
        top: 628vw;
        color: #fff;
        font-family: mlight;
    }

    #down3 {
        position: absolute;
        top: 697vw;
        width: 6vw;
    }

    .page5 {
        display: flex;
        justify-content: center;
    }

    .texto2 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 701vw;
    }

    p14, p16 {
        position: relative;
        margin-top: 15vw;
        font-family: msemibold;
        font-size: 5vw;
    }

    p15, p17, p18 {
        position: relative;
        margin-top: 5vw;
        font-family: mlight;
        font-size: 5vw;
    }

    #down4 {
        position: absolute;
        top: 918vw;
        width: 6vw;
    }

    #circle3 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 10vw;
        height: 10vw;
        border-radius: 50vw;
        top: 705vw;
        color: #fff;
        font-family: mlight;
    }

    #circle4 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 10vw;
        height: 10vw;
        border-radius: 50vw;
        top: 819vw;
        color: #fff;
        font-family: mlight;
    }

    .page6 {
        display: flex;
        justify-content: center;
    }

    .texto3 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 940vw;
    }

    p19 {
        position: relative;
        font-family: msemibold;
        font-size: 5vw;
    }

    p20 {
        position: relative;
        margin-top: 5vw;
        font-family: mlight;
        font-size: 5vw;
    }

    #circle5 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #157ffb;
        width: 10vw;
        height: 10vw;
        border-radius: 50vw;
        top: 928vw;
        color: #fff;
        font-family: mlight;
    }

    .borde4 {
        display: flex;
        justify-content: center;
    }

    .texto4 {
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 1005vw;
        background-color: #157ffb;
        border-radius: 5vw;
        width: 90vw;
        height: 60vw;
    }

    p21 {
        margin-top: 3vw;
        font-size: 8vw;
        font-family: mbold;
        color: #fff;
    }

    p22 {
        margin-top: 6vw;
        font-size: 5vw;
        font-family: mlight;
        color: #fff;   
    }

    #borde5 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 2vw;
        font-size: 5vw;
        font-family: regular;
        top: 1043vw;
        width: 50vw;
        height: 14vw;
    }

    .menu2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        top: 1080vw;
        width: 100vw;
        height: 100vw;
        background-color: #3c67c5;
    }

    #logoc {
        position: absolute;
        width: 50vw;
        top: 7vw;
    }
    
    #location {
        position: absolute;
        width: 8vw;
        top: 25vw;
    }
    
    #phone {
        position: absolute;
        width: 8vw;
        top: 61vw;
    }
    
    p23 {
        position: absolute;
        font-family: mlight;
        font-size: 4vw;
        top: 35vw;
        color: #fff;
    }
    
    p24 {
        position: absolute;
        font-family: mlight;
        font-size: 4vw;
        color: #fff;
        top: 70vw;
    }
}