@font-face {
    font-family: mlight;
    src: url(Fonts/MyriadPro-Light.woff);
}

@font-face {
    font-family: regular;
    src: url(Fonts/MYRIADPRO-REGULAR.woff);
}

/*@media only screen and (max-width: 1920px) and (min-width: 601px) {
    .container {
        width: 100%;
        height: 100%;
    }
    
    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 17.4%;
        max-height: auto;
        background-color: #346bcc;
        z-index: 1;
    }
    
    #col {
        width:20%;
        height: 40%;
    }
    
    .menu > p {
        color: white;
        font-family: light;
        font-size: 150%;
        
    }

    #letra {
        justify-content: center;
        color: black;
        font-family: light;
        font-size: 150%;
        z-index: 1;
    }
    
    .borde {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        align-items: center;
        border-radius: 50px;
        background-color: #fff;
        left: 85%;
        width: 12%;
        height: 25%;
    }

    #fondo {
        position: absolute;
        top: 17.4%;
        left: 0%;
        width: 100%;
        height: 100%;   
    }

    .formulario {
        position: absolute;
        top: 26.1%;
        left: 5.5%;
        background-color: white;
        border-radius: 10px;
        width: 33%;
        height: 80%;
    }
}*/

@media (350px <= width <= 600px) { 

    .container {
        height: 5000px;
    }

    .menu {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 6%;
        background-color: #346bcc;
        z-index: 1;
    }

    #col {
        width:20%;
        height: 40%;
    }
    
    .menu > p {
        color: white;
        font-family: mlight;
        font-size: 130%;
    }

    #letra {
        justify-content: center;
        color: black;
        font-family: mlight;
        font-size: 90%;
        z-index: 1;
    }
    
    .borde {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid gray;
        border-radius: 50px;
        background-color: #fff;
        left: 83.5%;
        width: 15%;
        height: 30%;
        bottom: 35%;
    }

    .information {
        display: flex;
        justify-content: center;
    }

    #ingreso {
        position: absolute;
        margin-top: 17%;
        color: white;
        font-size: 200%;
        font-family: regular;
    }

    #description {
        margin-top: 30%;
        color: black;
        font-size: 100%;
        font-family: regular;
        text-align: center;
    }

    .borde2 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 26%;
        border-radius: 10px;
        background-color: #157ffb;
        width: 30%;
        height: 4%;
    }

    #letra2 {
        font-family: mlight;
        color: white;
        font-size: 90%;
    }

    #fondo {
        position: absolute;
        top: 6%;
        left: 0%;
        width: 100%;
        height: auto;
    }

    .formulario {
        position: absolute;
        top: 35%;
        left: 7%;
        background-color: white;
        border-radius: 10px;
        width: 87%;
        height: 55%;
        box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.2);
    }

    #tittle {
        font-family: regular;
        text-align: center;
        font-size: 150%;
    }

    #datos {
        font-family: mlight;
        text-align: center;
        font-size: 80%;
        margin-top: -4%;
    }

    .datos {
        display: flex;
        justify-content: center;
    }

    #typedocument {
        position: absolute;
        margin-top: 7%;
        width: 80%;
    }

    #numberdocument {
        position: absolute;
        margin-top: 17%;
        width: 80%;
    }

    #firstname {
        position: absolute;
        margin-top: 27%;
        width: 80%;
    }

    #lastname {
        position: absolute;
        margin-top: 37%;
        width: 80%;
    }

    #date {
        position: absolute;
        margin-top: 47%;
        width: 80%;
    }

    #mobile {
        position: absolute;
        margin-top: 57%;
        width: 80%;
    }
    
    .datos p {
        position: absolute;
        left: 10%;
        font-size: 70%;
    }

    #td {
        top: 35%;
    }

    #nd {
        top: 43%;
    }

    #pn {
        top: 51%;
    }

    #pa {
        top: 59%;
    }

    #fe {
        top: 67%;
    }

    #tm {
        top: 75%;
    }

    .borde3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 90%;
        left: 35%;
        border-radius: 10px;
        background-color: #157ffb;
        width: 30%;
        height: 5%;
    }

    #letra3 {
        color: white;
        font-family: mlight;
        font-size: 90%;
        z-index: 1;
    }

    .page2 p {
        position: absolute;
        display: flex;
        text-align: center;
    }

    #p1 {
        left: 18%;
        top: 97%;
        font-size: 150%;
    }

    #p2 {
        left: 1%;
        top: 105%;
    }

    #p3 {
        left: 1%;
        top: 117%;
    }

    #dolar {
        position: absolute;
        top: 130%;
        left: 10%;
        width: 80%;
    }
}